<!DOCTYPE html><html>
	<head>
	    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	
	<body>
		<h1>Bienvenido a Mi sitio web, <%= @user.nombre %></h1>
		<p>
		Tu correo ha sido enviado satisfactoriamente y su identificador es:
		<%= @user.identificador %>.<br/>
		</p>
		<p>
		Recuerda visitar: <a href="<%= @url %>">CodeHero.co</a>
		</p>
		<p>Te recomiendo echarle un vistazo a la serie completa de Ruby on Rails desde cero, así como a
		las otras series de CodeHero, agradeciendo de antemano todas sus dudas y comentarios en la sección de
		comentarios.</p>
		<p>¡Hasta el próximo capítulo!</p>
	</body>
</html>